{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'app/css/dash.css' %}">
<link rel="stylesheet" href="{% static 'app/css/candidates.css' %}">
{% endblock %}
{% block content %}
<div class="content">
    {% include "./includes/sidebar.html" %}
    <div class="dash-content">
        <div class="section search">
            <p>Search for a job posting:</p>
            <input type="text" value="Senior Software Engineer"/>
        </div>
        <div class="double-section">
            <div class="section">
                <h1>Overall Scoring</h1>
                <div class="underline"></div>
                <div class="bargraph">
                </div>
            </div>
            <div class="section">
                <h1>Number of Candidates</h1>
                <div class="underline"></div>
                <div class="piechart">
                </div>
            </div>
        </div>
        <div class="section candidates">
            <h1>Active Candidates</h1>
            <div class="underline"></div>
            <ul>
                {% for item in res.activeCandidates %}
                <li>
                    <div class="left">
                        <a href="candidate"><h4>{{ item.fullName }}</h4></a>
                        <p>{{ item.address }}</p>
                    </div>
                    <div class="right">
                        <h4>{{ item.jobRole }}</h4>
                        <p>{{ item.status }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% include "./includes/footer.html" %}
{% endblock %}
