{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
    <script src="{% static 'app/js/base.js' %}" ></script>
    <title>ProHyre</title>
</head>

<body>
    <div id="header">
        <a href="/"><h1 id="header-title"><span>ProH</span>YRE</h1></a>
        <h1><span>ProH</span>YRE</h1>
        </div>
        <h2>500</h2>
        <h4>It looks like you have not created your resume</h4>
        <a href= "/myadmin/resume/userprofile/add/">Create your resume</a>
</body>
</html>