{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
    <script src="{% static 'app/js/base.js' %}" ></script>
    {% block style %}{% endblock %}
    <title>ProHyre</title>
</head>

<body>
    <div id="header">
        <h1 id="header-title"><span>ProH</span>YRE</h1>
        <div id="login">
            <button class="login-btn">Login</button>
            <span>Sign Up</span>
        </div>
    </div>
    <div class="popup">
        <a href="app/dash">
            <button class="login-btn popup-btn" id="employer">
                Login as Employer
            </button>
        </a>
        <a href="/app/accounts/login/"><button class="login-btn popup-btn" id="candidate">Login as Candidate</button></a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
