{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
    <script src="{% static 'app/js/base.js' %}" ></script>
    {% block style %}{% endblock %}
    <title>ProHyre</title>
</head>

<body>
    <div id="header">
        <a href="/"><h1 id="header-title"><span>ProH</span>YRE</h1></a>
            {% if user.is_authenticated %}
                <p class="logout">Logged in as <strong>{{ user.username }}</strong><a href="{% url 'logout' %}"> <button class ="logout-btn"> Log out</button></a></p>
              {% else %}
            <div id="login">
                <a><button class="signup-btn">Signup</button></a>
                <a href="/app/accounts/login/"><button class="login-btn">Login</button> </a>
            </div>
        <div class="popup">
            <a href="app/accounts/signup/student/">
                <button class="signup-btn popup-btn" id="employer">
                    Signup as Candidate
                </button>
            </a>
            <a href="/app/accounts/signup/hr/"><button class="signup-btn popup-btn" id="candidate">Signup as Employer</button></a>
        </div>
        {% endif %}
    </div>

    {% block content %}{% endblock %}
</body>
</html>
